*{padding: 0;margin: 0;}

    #warp{
    width: 1400px;
    height: 964px;
    background-color:aquamarine;
 position: absolute;
    display: none;
        z-index: 2;
    margin: 0px 300px 0px 300px;
     }

#chose_warp{
    width: 1400px;
    height: 964px;
    background-color:cornflowerblue;
    position: absolute;
    z-index: 2;
    margin: 0px 300px 0px 300px;
     }

#warp_num{
    width: 1400px;
    height: 964px;
    background-color:cyan;
    position: absolute;
  z-index: 1;
        display: none;
    margin: 0px 300px 0px 300px;
     }
.cho{
    width: 330px;
    height: 500px;
 background: white;
    
    
    
    
}
.cho{
font-size: 20px;
    margin-left: 240px; 
    margin-top: 100px; 
     box-shadow:0px 3px 3px 0px;
    
    
}
#select1{
    
    width: 1050px;
    height: 100px; 
    margin: 0 auto;
    margin-top:60px; 
    background: white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
     box-shadow:0px 2px 3px 0px;
    
    
}
#selct_check{
    width: 600px; 
    height: 70px; 
    margin: 0 auto;
    margin-top: 30px;
}
.sachic{
    height:70px;
    width: 145px; 
     box-shadow:0px 1px 5px 0px;
    font-size: 50px; 
    
}
#profile{
    width: 150px;
    height: 70px;
    background: white;
    margin: 0 auto;
  margin-top: 20px;
    border: 3px solid black;
    text-align: center;
    line-height: 70px;
    
    font-size: 30px;
    font-weight: bold;
 box-shadow:0px 1px 5px 0px;
    
}
.num_box{
    box-shadow:0px 3px 3px 0px;
    width: 460px;
    height: 300px;
    list-style: none;
    float: left;

    margin-top: 100px;
    margin-left: 160px;
    background: white;
    font-size: 200px; 
    text-align: center;
    color: gray;
}

.num_box2{
       font-size: 200px; 
    text-align: center;
    color: gray;
       background: white;
        box-shadow:0px 3px 3px 0px;
    width: 550px;
    height: 300px;
    float:left;
    margin-left: 100px;
    margin-top: 90px; 
}
.box{
     box-shadow:0px 1px 3px 0px;
    width: 200px;
    height: 300px;
    list-style: none;
    float: left;
    margin-left: 180px; 
    margin-top: 100px;
    background: white;
}
#center{
    line-height: 100px;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
      margin-top: 190px;
    margin-left:210px; 
    width: 250px; 
    height: 150px;
    
}
.fir_cho{
    font-size: 100px;
    width: 150px;
    
    margin-left: 240px; 
    margin-top: 50px;
     box-shadow:0px 3px 3px 0px;
    
    
}
#select{
    width: 1050px;
    height: 100px; 
    margin: 0 auto;
    margin-top:500px; 
    background: white;
    text-align: center;
    line-height: 90px;
    font-size: 50px;
     box-shadow:0px 2px 3px 0px;
    
    
}
#select2{
    width: 1050px;
    height: 100px; 
    margin: 0 auto;
    margin-top:500px; 
    background: white;
    text-align: center;
    line-height: 90px;
    font-size: 50px;
     box-shadow:0px 2px 3px 0px;
    
    
}